CREATE OR REPLACE TABLE {{ domain_db }}.dim_corporation AS
SELECT
    CUSTOMER,
    CUSTOMERNAME,
    CUSTOMERFULLNAME,
    COUNTRY,
    CITYNAME,
    POSTALCODE,
    STREETNAME,
    TELEPHONENUMBER1,
    CURRENCY,
    REGION,
    TRY_TO_DATE(CREATIONDATE, 'YYYY-MM-DD') AS CREATED_DATE,
    DL_UPDATE_DATE,
    CURRENT_TIMESTAMP() AS ETL_LOAD_TIMESTAMP
FROM {{ base_db }}.corp_v
WHERE CUSTOMER IS NOT NULL;
